<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model:@user, local:true do |f| %>
      <h4>Name</h4>
      <%= f.text_field :name %>
      <h4>Email</h4>
      <%= f.text_field :email %>
      <h4>Password</h4>
      <%= f.password_field :password %>
      <h4>Confirmation</h4>
      <%= f.password_field :password %>
      <%= f.submit "Create my account", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>